.myskills {
  padding:30px 0 ;
  overflow:hidden;
  .myskills_skills {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 40px 20px;
    .myskills_skills_skill {
      border-radius: 15px;
      border: 2px solid #dab634;
      position: relative;
      h5 {
        font-size: 18px;
        margin: 0;
        padding:8px;
      }
      .siz{
        position:absolute;
        font-size: 16px;
        background-color: $YBColor;
        border-radius: 50%;
        left: 0;
        top: 50%;
        padding: 8px;
        z-index: 2;
      }
      .prog {
        @include overlay();
        bottom: -41%;
        top: auto;
        height: 35%;
        border-radius: 0 0 21px 15px;
        background-color: $YBColor;
      }
    }
  }
}
